<footer class="footer-container bg-light text-center text-white">
        <div class="container">
                <section class="mb-12">
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;"
                                href="https://www.linkedin.com/in/brunogoffredo" role="button">
                                <i class="bi bi-linkedin"></i>
                        </a>

                        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;"
                                href="https://github.com/BrunoGoffre/TPSalaDeJuegos" role="button">
                                <i class="bi bi-github"></i>
                        </a>
                </section>
        </div>
        <div class="text-center p-3" style="background-color: #333333">
                Lavoratorio IV - Bruno Goffredo - Sala de juegos
        </div>
</footer>