.logo_navbar {
    width: 60px;
    height: 60
}

.navbar {
    background-color: rgb(43, 43, 43);

    &_btn {
        background-color: rgb(174, 57, 164);
        font-size: large;
        color: black;
    }

}