<header class="navbar navbar-expand-xl ">
    <div class="navbar_container container-md">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/home">
            <img class="logo_navbar" src="../../../assets/controller-Icon.png" />
        </a>
        <div class="collapse navbar-collapse justify-content-start order-5 order-lg-2" data-toggle="modal"
            id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="">Inicio </a>
                </li>
            </ul>
        </div>
        <button class="navbar_btn btn btn-icon order-4  ml-3" href="/login">
            <span class="material-icons-round material-md text-danger">Sing in &nbsp;</span>
        </button>
        <button class="navbar_btn btn btn-icon order-4 ml-2">
            <span class="material-icons-round material-md text-danger">Sing Up</span>
        </button>
        <button class="navbar_btn btn btn-icon order-4 ml-2" hidden="true">
            <span class="material-icons-round material-md text-danger">logout</span>
        </button>

    </div>
</header>