<header class="navbar navbar-expand-xl ">
    <div class="navbar_container container-md">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/home">
            <img class="logo_navbar" src="../../../assets/controller-Icon.png" />
        </a>
        <div class="collapse navbar-collapse justify-content-start order-5 order-lg-2" data-toggle="modal"
            id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/home">Inicio </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/games">Juegos</a>
                </li>
            </ul>
        </div>
        <button class="navbar_btn btn btn-icon order-4  ml-3" routerLink="/login"> Sing in</button>
        <button class="navbar_btn btn btn-icon order-4 ml-2" routerLink="/register">Sing up</button>
        <button class="navbar_btn btn btn-icon order-4 ml-2" hidden="true">Log out</button>
    </div>
</header>
<!-- <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" [routerLink]="['/']" aria-label="Game Room">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
                viewBox="0 0 24 24" focusable="false">
                <title>Game Room</title>
                <circle cx="12" cy="12" r="10" />
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
            </svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" [routerLink]="['/Juegos']">Games</a>
        <a class="py-2 d-none d-md-inline-block" [routerLink]="['/Listado']">Top</a>
        <a class="py-2 d-none d-md-inline-block" [routerLink]="['/Jugadores']">Players</a>
        <a class="py-2 d-none d-md-inline-block" [routerLink]="['/Login']">Login</a>
        <a class="py-2 d-none d-md-inline-block">Log Out</a>
    </div>
</nav> -->