<div class="container">
    <div class="row">
        <div class="box col-4">
            <button class="btn ">
                <img class="img" src=".././../../assets/juego1.jpg" alt="ahorcado">
                <label for="">Ahorcado</label>
            </button>
        </div>
        <div class="box col-4">
            <button class="btn ">
                <img class="img" src=".././../../assets/juego2.jpg" alt="mayor-menor">
                <label for="">Mayor-menor</label>
            </button>
        </div>
        <div class="box col-4">
            <button class="btn ">
                <img class="img" src=".././../../assets/juego3.jpg" alt="preguntados">
                <label for="">Preguntados</label>
            </button>
        </div>
    </div>
</div>